extends layout

block navpiece
    li 
        a(href='https://github.com/alu0100697032/proyecto_pl', target='_blank') Test
block content
  #description
    |Introduzca una fecha, por ejemplo: 6 de enero de 2000
    |<br>El año ha de estar entre 1900 y 2999
    |<br>Click en el botón Parse
    |<br>El programa devolverá el dia de la semana que corresponde a la fecha dada e indicará si el año es bisiesto.
    br
  #analyzer
      textarea#original
      input#PARSE(value="Parse" type="button")
      pre#OUTPUT
