extends layout

block navpiece
    li 
        a(href='/test') Test
block content
  #analyzer
      textarea#original
      input#PARSE(value="parse" type="button")
      #staticfiles
        input#ejemplo1(value="Ejemplo 1" type="button")
        input#ejemplo2(value="Ejemplo 2" type="button")
        input#ejemplo3(value="Ejemplo 3" type="button")
      pre#OUTPUT
