extends layout

block navpiece
    li 
        a(href='http://alu0100697032.github.io/adpr_express_generator/', target='_blank') Test
block content
  #analyzer
      textarea#original
      input#PARSE(value="parse" type="button")
      #staticfiles
        input#ejemplo1(value="Ejemplo 1" type="button")
        input#ejemplo2(value="Ejemplo 2" type="button")
        input#ejemplo3(value="Ejemplo 3" type="button")
        input#error(value="Ejemplo error" type="button")
      pre#OUTPUT
