extends layout

block navpiece
    li 
        a(href='http://alu0100697032.github.io/pegjs/', target='_blank') Test
block content
  #analyzer
      textarea#original
      input#PARSE(value="parse" type="button")
      pre#OUTPUT
