doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type="text/javascript" src="javascripts/jquery.js")
    script(type="text/javascript" src="javascripts/bootstrap.min.js")
    script(type="text/javascript" src="javascripts/events.js")
    script(type="text/javascript" src="javascripts/date.js")
    script(type="text/x-mathjax-config")
      |  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}); 
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  body
    barra
        #navbar 
        ul
            li 
                a(href='https://github.com/alu0100697032/proyecto_pl', target='_blank') Github
            block navpiece
            li 
                a(href='/gram') Grammar
            li 
                a(href='http://jade-lang.com/', target='_blank') Jade
            li 
                a(href='https://www.mathjax.org/', target='_blank') MathJax
            li 
                a(href='http://zaach.github.io/jison/', target='_blank') Jison
    
    resto
        block content