body {
    font: 100% Lucida Sans;
    margin: 2em;
    line-height: 2.5em;
    background-color: white;
}
ul {
    list-style-type: none;
    width:90%;
    margin-bottom: 4em;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #33CC33;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}

resto{
  width:80%;
  text-align:left;
}

#PARSE{
  display: inline;
  width: 100px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #33CC00;
  text-align: center;
  padding: 4px;
  margin-left: 2em;
  text-decoration: none;
  text-transform: uppercase;
}


